@import "vars";
@import "global";

.header {
    position: absolute;
    width: 100%;
    z-index: 5;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.header-logo {
    a {
        font-size: 30px;
        @include mf700;
        color: #fff;
    }
}

.header__top-box {
    display: flex;
}

.menu {
    &__list-item {
        display: inline-block;
        & + .menu__list-item {
            padding-left: 50px;
        }
    }
    .menu__list-link {
        color: #fff;
        padding-bottom: 15px;
        text-transform: uppercase;
        position: relative;
        transition: all 0.3s;
        &:hover {
            color: $yellow;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                width: 100%;
                background-color: $yellow;
            }
        }
    }
}

.cart-box {
    margin-left: 50px;
}

.search-box {
    margin-left: 50px;
    position: relative;
    .search-btn {
        cursor: pointer;
    }
    .header__search {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        input {
            border: 1px solid #e7e7e7;
            outline: none;
            height: 40px;
            width: 200px;
            padding: 0 55px 0 15px;
            position: relative;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            outline: none;
            background-color: $blue;
            height: 100%;
            width: 40px;
            background-image: url("../images/search.svg");
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }
    }
}

.top-section {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
    padding: 80px 0 30px 0;
}

.top-slider__inner {
    text-align: center;
    padding-bottom: 120px;
    max-width: 100vw;
    position: relative;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
    button {
        font-size: 0;
        border: none;
        outline: none;
        background-color: #fff;
        opacity: 0.5;
        height: 3px;
        width: 280px;
    }
}

.slick-active {
    button {
        opacity: 1;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 3px;
            width: 70px;
            background-color: $red;
        }
    }
}

.top-slider__item {
    max-width: 950px;
}

.slider__item-title {
    padding-top: 75px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    color: #fff;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 60px;
        height: 3px;
        background-color: #fff;
    }
    h1 {
        @include mf700;
        font-size: 75px;
        line-height: 75px;
        text-transform: uppercase;
    }
    span {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        @include cf700;
        font-size: 52px;
    }
}

.slider__item-btn {
    a {
        @include mf700;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        border: 3px solid #fff;
        padding: 13px 30px;
        transition: all .5s;
        &:hover {
            color: $red;
            border: 3px solid $red;
        }
    }
}

.top-slider__dots {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.slider__dots-info {
    display: inline-block;
    width: 280px;
    @include mf400;
    font-size: 18px;
    text-transform: uppercase;
    span {
        @include mf700;
        font-size: 24px;
    }
}

.about__inner {
    padding: 90px 0 100px 0;
}

.about-title {
    margin-bottom: 45px;
}

.about__text {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #999;
    @include rf400;
    margin-bottom: 90px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__item-img {
    position: relative;
    transition: all .5s;
    img {
        display: block;
        max-width: 380px;
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
    .about__item-img--hover {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: all 0.5s;
        img {
            width: 32px;
            height: 23px;
        }
        a {
            margin-top: 10px;
            font-size: 18px;
            @include mf700;
            color: #fff;
            text-transform: uppercase;
        }
    }
    &:hover {
        box-shadow: 10px 10px $blue;
        transform: translateY(-10px);
        .about__item-img--hover {
            max-height: 250px;
            height: 100%;
        }
    }
}

.about__info {
    background-color: $blue;
}

.about__info-inner {
    display: flex;
}

.about__info-item {
    text-align: center;
    padding: 55px 0;
    width: 240px;
    color: #fff;
    border-left: 1px solid #b5eae0;
    .about__info-title {
        font-size: 72px;
        @include mf700;
        margin-bottom: 20px;
    }
    .about__info-text {
        text-transform: uppercase;
    }
}

.about__info-item:last-child {
    border-right: 1px solid #b5eae0;
}

.servise__inner {
    padding: 100px 0;
}

.service-title {
    margin-bottom: 20px;
}

.service__items {
    display: flex;
}

.service__item {
    display: flex;
    padding: 50px 25px;
    &-img {
        margin-right: 20px;
    }
    &-category {
        margin-bottom: 15px;
        color: #333;
        font-size: 15px;
        text-transform: uppercase;
    }
    &-text {
        color: #999;
        font-size: 15px;
        @include rf400;
    }
}

.service__items-border {
    border-bottom: 1px solid #e5e5e5;
}

.feature {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.feature__inner {
    padding-top: 110px;
}

.feature-title {
    margin-bottom: 20px;
}

.feature__content {
    display: flex;
    justify-content: center;
    .feature__big-img {
        max-width: 768px;
        max-height: 1024px;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    .feature__phone-img {
        position: absolute;
        bottom: -105px;
        right: -110px;
        max-width: 274px;
        max-height: 475px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.services__inner {
    padding-top: 105px;
}

.services-title {
    margin-bottom: 35px;
}

.services__text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
    p {
        max-width: 960px;
        margin: 0;
        color: #999;
        font-size: 15px;
        @include rf400;
    }
}

.services__content {
    display: flex;
    margin-bottom: 115px;
}

.services__content-img {
    margin-right: 30px;
    img {
        display: block;
        object-fit: cover;
        max-height: 380px;
        max-width: 570px;
    }
}

.services__item + .services__item {
    margin-top: 10px;
}

.services__item {
    max-width: 600px;
    width: 100%;
    &-title {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        border: 1px solid #e5e5e5;
        position: relative;
        cursor: pointer;
        .services__item-icon {
            margin-right: 15px;
        }
        h4 {
            font-size: 14px;
            text-transform: uppercase;
            @include rf400;
            color: #333;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            background-image: url('../images/arrow-down.png');
            width: 22px;
            height: 12px;
            transform: translateY(-50%);
        }
    }
    &-text {
        display: none;
        padding: 15px;
        @include rf300;
        font-size: 15px;
        line-height: 24px;
        color: #999;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        max-height: 165px;
        overflow-y: scroll;
    }
}

.services__item--active {
    .services__item-title {
        &::after {
            transform: rotate(180deg);
        }
    }
    .services__item-text {
        display: block;
    }
}

.services__comment {
    background-color: #f8f8f8;
}

.services__comment-inner {
    padding: 60px 0;
}

.services__comment-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    .slick-arrow {
        font-size: 0;
        border: none;
        outline: none;
        width: 12px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    .slick-prev {
        background-image: url('../images/arrow-left.png');
        margin-right: 15px;
    }
    .slick-next {
        background-image: url('../images/arrow-right.png');
        margin-left: 15px;
    }
}

.services__slider-item {
    display: flex !important;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    &--img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 150px;
        width: 100%;
        height: 150px;
        margin-right: 50px;
        border: 3px solid $blue;
    }
    &--text {
        color: #999;
        @include rf300;
        font-size: 24px;
        line-height: 30px;
    }
    &--author {
        color: #333;
        font-size: 24px;
        @include cf700;
        margin-top: 25px;
        padding-left: 70px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            background-color: $red;
            width: 60px;
            height: 3px;
        }
    }
}

.ourteam__inner {
    padding-top: 100px;
    padding-bottom: 110px;
}

.ourteam-title {
    margin-bottom: 45px;
}

.ourteam__content {
    display: flex;
    justify-content: space-between;
}

.ourteam__item-img {
    position: relative;
    transition: all .5s;
    img {
        display: block;
        max-width: 380px;
        width: 100%;
        max-height: 470px;
        object-fit: cover;
    }
    .ourteam__item-link {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: all 0.5s;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            background-color: $yellow;
            transition: all .3s;
            &:hover {
                background-color: $red;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
        a + a {
            border-left: 1px solid $red;
        }
    }
    &:hover {
        box-shadow: 10px 10px $blue;
        transform: translateY(-10px);
        .ourteam__item-link {
            max-height: 470px;
            height: 100%;
        }
    }
}

.ourteam__item-name {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    @include mf700;
    color: #333;
    text-transform: uppercase;
}

.ourteam__item-category {
    text-align: center;
    @include rf300;
    font-size: 15px;
    color: #999;
    margin-top: 15px;
}

.ourteam__brands {
    background-color: #f8f8f8;
    padding: 60px 0;
}

.ourteam__brands-inner {
    display: flex;
    justify-content: space-between;
}

.ourteam__brands-item + .ourteam__brands-item {
    margin-left: 15px;
}

.work__inner {
    padding: 100px 0;
}

.work-title {
    margin-bottom: 40px;
}

.work__items {
    display: flex;
}

.work__item-img,
.work__item-img--big  {
    position: relative;
    img {
        display: block;
        max-width: 480px;
        width: 100%;
        height: 390px;
        object-fit: cover;
    }
    .work__item-img--hover {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        height: 0;
        width: 100%;
        overflow: hidden;
        color: #fff;
        transition: all 0.5s;
        img {
            display: block;
            width: 30px;
            height: 30px;
            margin-bottom: 20px;
        }
        a {
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        p {
            font-size: 15px;
            @include rf300;
        }
    }
    &:hover {
        .work__item-img--hover {
            max-height: 390px;
            height: 100%;
        }
    }
}

.work__item-img--big {
    img {
        height: 780px;
    }
    .work__item-img--hover {

    }
    &:hover {
        .work__item-img--hover {
            max-height: 780px;
            height: 100%;
        }
    }
}

.work {
    .services__comment {
        background-color: #fff;
        margin-bottom: 60px;
    }
    .services__slider-item--img {
        border: none;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.happyclient {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.happyclient__inner {
    padding: 100px 0;
}

.happyclient__items {
    display: flex;
    justify-content: space-between;
}

.happyclient__item {
    display: flex;
    max-width: 530px;
    margin-top: 70px;
}

.happyclient__item-img {
    margin-right: 25px;
    img {
        display: block;
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.happyclient__item-name {
    font-size: 14px;
    @include mf700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.happyclient__item-category {
    font-size: 15px;
    @include rf300;
    color: #333;
    margin-bottom: 20px;
}

.happyclient__item-text {
    padding-top: 25px;
    @include rf400;
    font-size: 15px;
    line-height: 24px;
    color: #999;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 3px;
        background-color: $red;
    }
}

.blog__inner {
    padding: 100px 0;
}

.blog-title {
    margin-bottom: 45px;
}

.blog__items {
    display: flex;
    justify-content: space-around;
}

.blog__item {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    &-img {
        position: relative;
        margin-bottom: 15px;
        img {
            display: block;
            max-width: 380px;
            width: 100%;
            max-height: 240px;
            object-fit: cover;
        }
        .blog__item-date {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 10px;
            left: -10px;
            background-color: $blue;
            color: #fff;
            width: 60px;
            height: 70px;
            font-size: 30px;
            @include mf700;
            span {
                font-size: 15px;
                @include rf300;
            }
        }
    }
    &-name {
        font-size: 14px;
        @include mf700;
        color: #333;
        margin-bottom: 17px;
        transition: all .3s;
        &:hover {
            color: $red;
        }
    }
    &-text {
        flex: 1 1 auto;
        font-size: 15px;
        color: #999;
        @include rf400;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    &-info {
        display: flex;
        margin-top: 15px;
        font-size: 15px;
        @include rf300;
        color: #999;
    }
    &-view {
        padding-left: 25px;
        position: relative;
        margin-right: 20px;
        &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            background-image: url('../images/icon/view.svg');
            background-repeat: no-repeat;
            width: 20px;
            height: 12px;
        }
    }
    &-comment {
        padding-left: 25px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../images/icon/comment.svg');
            background-repeat: no-repeat;
            width: 17px;
            height: 15px;
        }
    }
}

.maps {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.maps__inner {
    padding: 60px 0;
}

.maps__btn {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60px;
        height: 3px;
        background-color: $red;
    }
}

.maps__icon {
    margin-bottom: 20px;
}

.open-maps {
    font-size: 24px;
    @include mf700;
    text-transform: uppercase;
    color: $red;
}

#modal {
    display: none;
    iframe {
        margin: 0;
        width: 1200px;
        max-width: 100%;
        height: 600px;
        max-height: 100%;
    }
}

.fancybox-content {
    padding: 0;
}

.fancybox-slide--html .fancybox-close-small {
    padding: 0;
}

.footer {
    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.footer__col {
    max-width: 360px;
}

.footer__col-info {
    max-width: 480px;
}

.footer__logo {
    margin-bottom: 40px;
    a {
        font-size: 46px;
        @include mf700;
        color: #ccc;
    }
}

.footer__text {
    font-size: 15px;
    line-height: 24px;
    @include rf400;
    color: #999;
    margin-bottom: 45px;
}

.footer__followers {
    color: #333;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 15px;
    span {
        font-size: 18px;
        @include mf700;
    }
}

.footer__social-box {
    display: flex;
    margin-bottom: 40px;
    .social-link__text {
        @include rf300;
        font-size: 15px;
        color: #999;
        margin-right: 20px;
    }
}

.footer__social-link {
    li {
        display: inline-block;
    }
    li + li {
        margin-left: 15px;
    }
    a:hover {
        transform: rotate(360deg);
        transition: all .5s;
        svg {
            path {
                fill: $red;
            }
        }
    }
}

.footer__form {
    input {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        padding: 12px;
        max-width: 230px;
        width: 100%;
        &::placeholder {
            font-size: 15px;
            @include rf300;
            color: #ccc;
        }
    }
    button {
        border: none;
        height: 42px;
        background-color: $blue;
        color: #fff;
        padding: 0 35px;
        margin-left: -5px;
        cursor: pointer;
    }
}

.footer__col-title {
    font-size: 14px;
    @include mf700;
    color: #333;
    margin-bottom: 35px;
}

.footer__col-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer__col-item--img {
    margin-right: 15px;
    img {
        display: block;
        max-width: 120px;
        max-height: 80px;
        object-fit: cover;
    }
}

.footer__col-item--name {
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    @include mf700;
    transition: all .3s;
    &:hover {
        color: $red;
    }
}

.footer__col-item--date {
    font-size: 13px;
    @include rf300;
    color: #999;
}

.footer__col-photo {
    display: flex;
    img {
        display: block;
        max-width: 88px;
        max-height: 88px;
        object-fit: cover;
        border: 1px solid #f8f8f8;
    }
}

.instagram-link {
    margin-top: 20px;
    color: #333;
    font-size: 13px;
    @include rf300;
    transition: all .3s;
    &:hover {
        color: $red;
    }
}

.footer__copy {
    text-align: center;
    padding: 25px 0;
    border-top: 2px solid #e5e5e5;
    &-text {
        font-size: 14px;
        color: #333;
        a {
            color: $red;
        }
    }
}



@import "media";